@mixin font-face($font-family, $font-weight, $font-style, $font-src-wrapp2, $font-src-wrapp) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src-wrapp2, $font-src-wrapp;
    font-display: swap;
  }
}
