// .card {

// }

// .card__text {

// }

// .card__discription {

// }

.card__option {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
}

.card__value {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
}
