// .catalog-product {

// }

.catalog-product__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

// .catalog-product__wrapper {

// }

.catalog-product__list {
  list-style-type: none;
}

// .catalog-product__card {

// }

.catalog-product__link {
  text-decoration: none;
}

.catalog-product__title-card {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: 738px) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog-product__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
  text-align: center;

  @media (min-width: 738px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-product__card--more {
  @media (min-width: 1300px) {
    width: 245px;
  }

  @media (min-width: 738px) {
    width: 324px;
    // background-size: 60px 60px;
  }
}

.catalog-product__card--more::after {
  content: "";
  background-image: url("../../icons/plus-catalog.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}


// .catalog-product__card-show {
//   background-image: url("../../icons/plus-catalog.svg");
//   background-size: 30px 30px;
//   background-repeat: no-repeat;
//   background-position: center;

//   @media (min-width: 1300px) {
//     width: 245px;
//   }

//   @media (min-width: 738px) {
//     width: 324px;
//     background-size: 60px 60px;
//   }
// }

.catalog-product__card-title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 738px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-product__button--more {
  background-color: #f2f2f2;
  color: $base-color-text;
}
