// .catalog-product {

// }

.catalog-product__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet) {
    margin-top: 65px;
    margin-bottom: 84px;
  }
}

.catalog-product__wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }
}

.catalog-product__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 25px;
}

// .catalog-product__card {

// }

.catalog-product__link {
  text-decoration: none;
}

.catalog-product__image {
  display: block;
  margin: auto;
}

.catalog-product__card {
  position: relative;
  padding: 20px 0 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.catalog-product__title-card {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 135px;
    margin: 41px auto 20px;
  }
}

.catalog-product__button {
  grid-column: 1 / 3;
}

.catalog-product__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: 738px) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto 82px;
    width: 170px;
  }
}

.catalog-product__card--more {
  padding-top: 78px;
  padding-bottom: 25px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center -60px;
  background-image: url("../../icons/plus-catalog.svg");
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    width: 324px;
  }

  @media (min-width: $desktop) {
    width: 245px;
  }
}

// .catalog-product__card--more::after {
//   content: "";
//   background-image: url("../../icons/plus-catalog.svg");
//   background-size: 30px 30px;
//   background-repeat: no-repeat;
//   background-position: center;
//   width: 30px;
//   height: 30px;
//   position: absolute;

//   @media (min-width: $tablet) {
//     width: 60px;
//     height: 60px;
//   }
// }

.catalog-product__card-title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    margin: 160px auto 23px;
    width: 135px;
  }
}

.catalog-product__button--more {
  background-color: #f2f2f2;
  color: $base-color-text;
}
