.contact {
  background-color: #ffffff;

  @media (min-width: $desktop) {
    position: relative;
  }
}

.contact__catalog {
  background-color: #f2f2f2;
}

.contact__wrapper {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    padding: 60px 70px;
    justify-content: space-between;
    width: 628px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 565px;
    height: 199px;
    background-color: #ffffff;
    padding: 60px 80px;
    box-sizing: border-box;
    top: 95px;
    left: calc(50% - 610px);
  }
}

// .contact__wrapper--catalog {
//   @media (min-width: $tablet) {
//     padding-top: 60px;
//     padding-bottom: 60px;
//   }
// }

.contact__text {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    width: 165px;
  }
}

.contact__address {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: $base-color-text;

  @media (min-width: $tablet) {
    font-size: 16px;
    width: 160px;
    text-align: end;
  }

  @media (min-width: $desktop) {
    text-align: start;
  }
}

.contact__city {
  @media (min-width: $tablet) {
    display: block;
    margin-top: 19px;
  }
}

// .contact__map-wrapper {

// }

.contact__image {
  display: block;
  margin: auto;
}
