// .contact {

// }

// .contact__wrapper {

// }

.contact__wrapper--catalog {
  background-color: #f2f2f2;
}

.contact__text {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contact__address {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: $base-color-text;
}

// .contact__map-wrapper {

// }
