.copyright-link {
  display: block;
  color: #666666;
  text-decoration: none;
}

.copyright-link__text {
  color: $base-color-text;
}

.copyright-link__logo {
  fill: currentColor;

  &:hover {
    color: #68b738;
  }
}
