.example {
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    background-image: linear-gradient(#ffffff 574px, #eaeaea 574px);
    position: relative;

    &::before {
      content: "";
      height: 1px;
      background-color: #e6e6e6;
      top: -45px;
      width: 100%;
      position: absolute;
    }
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(#ffffff 136px, #eaeaea 136px);

    &::before {
      content: none;
    }
  }
}

.example__wrapper {
  @media (min-width: $desktop) {
    display: grid;
    column-gap: 224px;
    grid-template-columns: 440px 1fr;
    grid-template-rows: auto auto auto 1fr;
  }
}

.example__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-left: 0;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 146px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.example__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 69px;
    width: 440px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.example__list {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.example__list-wrapper {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;

  @media (min-width: $desktop) {
    margin-bottom: 55px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.example__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  min-height: 56px;
  position: relative;

  @media (min-width: $tablet) {
    width: 162px;
    min-height: 72px;
  }

  @media (min-width: $desktop) {
    grid-row: 4 / 5;
  }
}

.example__option {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding: 0 10px;
  margin: 0 19px;
  color: $base-color-text;
  text-align: center;
  position: absolute;
  top: 46px;
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    top: 63px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    background-color: #eaeaea;
  }
}

.example__value {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 8px;


  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.example__desc {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0 46px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 28px;
    padding: 0;
    width: 176px;
    text-align: right;
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 75px;
    display: flex;
    width: 330px;
    justify-content: space-between;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

// .example__slider {
//   @media (min-width: $desktop) {
//     grid-column: 2 / 3;
//   }
// }

.example__range-bar {
  position: absolute;
  left: 140px;
  z-index: 20;

  @media (min-width: $tablet) {
    left: 278px;
  }
}

.example__range-toogle {
  display: block;
  width: 4px;
  height: 256px;
  background-color: #666666;
  padding: 0;
  border: none;
  position: relative;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: #68b738;
  }

  &:active {
    background-color: rgba(94, 170, 47, 0.6);
  }

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #666666;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before,
  &:focus::before,
  &:focus-visible::before {
    border-color: #68b738;
  }

  &:active::before {
    border-color: rgba(94, 170, 47, 0.6);
  }

  &::after {
    content: "";
    display: block;
    mask-image: url("../../icons/arrows-slider.svg");
    width: 24px;
    height: 18px;
    background-color: #666666;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::after,
  &:focus::after,
  &:focus-visible::after {
    background-color: #68b738;
  }

  &:active::after {
    background-color: rgba(94, 170, 47, 0.6);
  }

  @media (min-width: $tablet) {
    height: 512px;
  }
}

