.example {
  background-color: #eaeaea;
}

// .example__wrapper {

// }

.example__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

// .example__list {

// }

// .example__item {

// }

.example__option {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $base-color-text;
}

.example__value {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__desc {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

// .example__slider {

// }

// .example__slider-fat {


// }

// .example__slider-slim {

// }

// .example__range-bar{

// }

// .example__range-toogle {

// }
