.main-footer {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo-link {
  display: block;
  margin: 0 76px 20px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

// .main-footer__logo {

// }

// .main-footer__social {

// }

.main-footer__copyright-link {
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
