.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 21px 15px 20px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 25px 0 65px;
  }

  @media (min-width: $desktop) {
    padding: 55px 0 74px;
  }
}


.main-nav__toogle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background: 0 0;
  padding: 0;
  z-index: 2;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__toogle::before {
  content: "";
  background-color: #000000;
  display: block;
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/button-open.svg");
}

.main-nav--opened .main-nav__toogle::before {
  content: "";
  background-color: #000000;
  width: 18px;
  height: 18px;
  display: block;
  mask-repeat: no-repeat;
  mask-image: url("../../icons/button-close.svg");
}


.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $mobile) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-flow: row;
    width: 440px;
    gap: 33px;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: 478px;
  }
}

.main-nav__list a {
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border: none;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__list:first-child {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border: none;
  }
}

@media (max-width: $mobile) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 198px;
    background-color: #ffffff;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    min-height: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    margin-left: -20px;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  // .main-nav--nojs .main-nav {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 14px 21px 15px 20px;
  // }
}

// .main-nav__item {

// }

.main-nav__link {
  font-family: $oswald;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link--catalog {
  color: #000000;
}

.main-nav__link--current {
  position: relative;

  @media (min-width: $tablet) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #68b738;
      top: 32px;
      left: 0;
      right: 0;
    }

    @media (min-width: $desktop) {
      &::after {
        background-color: #ffffff;
      }
    }
  }
}

.main-nav__link--catalog.main-nav__link--current {
  @media (min-width: $desktop) {
    &::after {
      background-color: #68b738;
    }
  }
}

