.main-footer {
  background-color: #f2f2f2;
}

// .main-footer__wrapper {

// }

// .main-footer__logo-link {

// }

// .main-footer__logo {

// }

// .main-footer__social {

// }

.main-footer__copyright-link {
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
}
