// .main-nav {

// }

.main-nav__toogle {
  mask-image: url("../../icons/button-open.svg");
  width: 24px;
  height: 24px;
  background-color: #000000;
}

// .main-nav__wrapper {

// }

.main-nav__list {
  list-style-type: none;
}

// .main-nav__item {

// }

.main-nav__link {
  font-family: $oswald;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
