// .programm {

// }

// .programm__list {
//   list-style-type: none;
// }

// .programm__item {

// }

.programm__wrapper {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

.programm__wrapper--slim {
  background-image: url("../../icons/cat-slim.svg");
  background-size: 36px 50px;
}

.programm__wrapper--weight-gain {
  background-image: url("../../icons/cat-pro.svg");
  background-size: 67px 28px;
}

.programm__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.programm__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.programm__link {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
