// .promo {

// }

.promo__wrapper {
  background-color: $bg-basic-green;
}

.promo__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

// .promo__link {

// }
