.slider__images {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 280px;
  height: 256px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  @media (min-width: $tablet) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.slider__images-wrapper {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  overflow: hidden;
}

.slider__images-wrapper--fat {
  width: 140px;
  z-index: 10;
  background-color: #eaeaea;
  display: block;

  @media (min-width: $tablet) {
    width: 280px;
    background-image: linear-gradient(#ffffff 233px, #eaeaea 233px);
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(#ffffff 136px, #eaeaea 136px);
  }
}

.slider__images-wrapper--slim {
  position: absolute;
  display: block;
}
