// .social {

// }

.social__list {
  list-style-type: none;
}

// .social__item {

// }

.social__link {
  display: block;
  background-color: #666666;
  width: 24px;
  height: 24px;
}

.social__link--vk {
  mask-image: url("../../icons/vkontakte.svg");
}

.social__link--youtube {
  mask-image: url("../../icons/youtube.svg");
}

.social__link--tg {
  mask-image: url("../../icons/telegram.svg");
}
