// .work {

// }

// .work__wrapper {

// }

.work__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.work__list {
  list-style-type: none;
}

.work__item {
  position: relative;
}

.work__item--leaf::before {
  content: "";
  background-image: url("../../icons/icon-leaf.svg");
  background-size: 30px 32px;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: absolute;
  background-repeat: no-repeat;
}

.work__item--powder::before {
  content: "";
  background-image: url("../../icons/icon-powder.svg");
  background-size: 26px 29px;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: absolute;
  background-repeat: no-repeat;
}

.work__item--eat::before {
  content: "";
  background-image: url("../../icons/icon-eat.svg");
  background-size: 25px 30px;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: absolute;
  background-repeat: no-repeat;
}

.work__item--watch::before {
  content: "";
  background-image: url("../../icons/icon-watch.svg");
  background-size: 26px 31px;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: absolute;
  background-repeat: no-repeat;
}

.work__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}
