// .work {

// }

// .work__wrapper {

// }

.work__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

// .work__list {
//   list-style-type: none;
// }

// .work__item {

// }

.work__item--leaf {
  background-color: green;
  background-image: url("../../icons/icon-leaf.svg");
}

.work__item--powder {
  background-color: green;
  background-image: url("../../icons/icon-powder.svg");
}

.work__item--eat {
  background-color: green;
  background-image: url("../../icons/icon-eat.svg");
}

.work__item--watch {
  background-color: green;
  background-image: url("../../icons/icon-watch.svg");
}

.work__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}
